# Build
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Old JARs
*.jar
!gradle/wrapper/gradle-wrapper.jartemp_jar/
compile_err.txt
*.class
